$primaryColour: #AAA;
$primaryLight: #eee;
$primaryDark: #222;
$logoColour: #a00;
$box-1: #E22;
$box-2: #FA0;
$navSize: 80px;
$contentLineHeight: 1.6em;
$siteWidth: 100%;
$defaultMargin: 0;
$footerMargin: -40px;
